@import "./utils/fonts";
@import "./utils/variable";
@import "./utils/mixins";
@import "./utils/my-normalize";
.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@import "./libs/libs";
@import "./components/dots";
@import "./components/btns";
@import "./components/footer";
@import "./components/header";
@import "./sections/hero";
@import "./sections/feature";
@import "./sections/about-us";
@import "./sections/our-products";
@import "./sections/dispatch";
@import "./sections/partners";
@import "./sections/map";