.feature {
    padding: 130px 0 216px;
    @include breakpoint($mobile-bp) {
        padding: 80px 0;
    }
    &__tab {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 90px;
        @include breakpoint($mobile-bp) {
            margin-bottom: 40px;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        &-btn {
            width: 22%;
            font-family: $poppins-medium;
            font-size: 20px;
            line-height: 24px;
            text-transform: capitalize;
            color: $second-black;
            opacity: 0.8;
            text-align: center;
            display: block;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: 60px;
                left: 0;
                right: 0;
                display: block;
                height: 5px;
                width: 0;
                background-color: $dark-yellow;
                transition: width .3s linear;
            }
            &:hover:before,
            &.active:before {
                width: 100%;
            }
            @include breakpoint($mobile-bp) {
                width: 100%;
                margin-bottom: 20px;
                &:before {
                    top: auto;
                    bottom: -8px;
                }
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item {
            width: 22%;
            visibility: hidden;
            opacity: 0;
            border: 1px solid #A3A3A3;
            border-radius: 10px;
            transition: opacity .3s linear, visibility .3s linear;
            @include breakpoint($mobile-bp) {
                width: 100%;
                display: none;
            }
            &.active {
                visibility: visible;
                opacity: 1;
                @include breakpoint($mobile-bp) {
                    display: block;
                }
            }
            img {
                display: block;
                width: 100%;
            }
        }
    }
}