$white:#fff;
$dark-yellow:#F59B00;
$second-black:#2F2F2F;
$light-pink:#F9DCFF;
$sans-serif: sans-serif;
$poppins-bold: 'Poppins Bold';
$poppins-medium: 'Poppins Medium';
$poppins-regular: 'Poppins Regular';
$tablet-bp: 1024px;
$mobile-bp: 768px;