.dots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    li {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
    .slick-active {
        button {
            background-color: $dark-yellow;
        }
    }
    button {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        border: 2px solid $dark-yellow;
        cursor: pointer;
        font-size: 0;
        line-height: 0;
        transition: all 0.2s linear;
        &:hover {
            background-color: $white;
        }
    }
}