.header {
    background-color: transparent;
    padding-top: 30px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    &__wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
}

.nav {
    display: flex;
    &__menu {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        @include breakpoint($mobile-bp) {
            display: flex;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: #000;
            z-index: 2;
            align-items: center;
            justify-content: center;
            flex-flow: nowrap column;
            transform: translateX(-105%);
            opacity: 0;
            transition: transform .3s linear, opacity .3s linear;
        }
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    }
    &__item {
        margin-right: 40px;
        &:last-child {
            margin-right: 90px;
            @include breakpoint($mobile-bp) {
                margin-right: 40px;
            }
        }
        @include breakpoint($mobile-bp) {
            margin-right: 0;
            &:last-child {
                margin-right: 0;
            }
        }
        @include breakpoint($mobile-bp) {
            margin-bottom: 10px;
        }
    }
    &__link {
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        font-family: $poppins-medium, $sans-serif;
        color: $white;
        line-height: 18px;
        transition: all .2s linear;
        &:hover {
            opacity: 0.6;
        }
    }
}

.burger {
    display: none;
    color: $white;
    margin-left: 10px;
    font-size: 30px;
    order: 1;
    z-index: 3;
}